<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../assets/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About me</h1>
                        <hr class="small">
                        <span class="subheading">...writing</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<body class="about">
<h1>Expert on Slavic countries, journalist, translator</h1>
<p>After finishing my Ph.D. in Ukrainian studies I kept writing scientific and journalist articles and translated different genres from different languages into German. Since meanwhile I became a web developer, I built this blog with Ruby on Rails to be able to display them. Check some examples in my blog.</p>
</body>